asgiref==3.2.10
Babel==2.8.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.2
cssselect2==0.3.0
defusedxml==0.6.0
diceware==0.9.6
Django==3.1
django-formtools==2.2
django-localflavor==3.0.1
django-otp==1.0.0
django-phonenumber-field==4.0.0
django-qr-code==1.2.0
django-two-factor-auth==1.12.1
django-user-sessions==1.7.1
django-weasyprint==1.0.1
html5lib==1.1
phonenumbers==8.12.8
Pillow==7.2.0
pycparser==2.20
Pyphen==0.9.5
python-stdnum==1.14
pytz==2020.1
qrcode==6.1
six==1.15.0
sqlparse==0.3.1
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
